<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  backupGlobals="false"
  bootstrap="vendor/autoload.php"
  colors="true"
  processIsolation="false"
  stopOnFailure="false"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
  cacheDirectory=".phpunit.cache"
  backupStaticProperties="false">
  <testsuites>
    <testsuite name="Package Test Without Database Suite">
      <directory suffix="Test.php">./tests</directory>
      <exclude>./tests/DatabaseManagers</exclude>
      <exclude>./tests/Commands</exclude>
    </testsuite>
    <testsuite name="Package Test Suite">
      <directory suffix="Test.php">./tests</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="MYSQL_HOST" value="snowcookie-generate-schema-mysql"/>
    <env name="POSTGRES_HOST" value="snowcookie-generate-schema-postgres"/>
  </php>
</phpunit>
